class <%= class_name%>Repository
  def all
    <%= record_class_name %>.all
  end

  def create(<%= attributes_as_keyword_args_for_method_signature %>)
    <%= record_class_name %>.create!(<%= attributes_as_keyword_args_for_method_params %>)
  end

  def find(id)
    <%= record_class_name %>.find(id)
  end

  def update(id, <%= attributes_as_keyword_args_for_method_signature %>)
    record = find(id)
    record.update!(<%= attributes_as_keyword_args_for_method_params %>)
    record
  end

  def delete(id)
    record = find(id)
    record.destroy!
  end
end
